/* Global style */

@font-face {
    font-family: ShareTechMono;
    src: url('../../assets/fonts/Share_Tech_Mono/ShareTechMono-Regular.woff2');
}

:root {
    --accentColor: #bf122d;
    --backgroundColor: #000;
    --borderWeight: 0.15rem;
    --fontColor: #fff;
    --transitionSpeed: 0.5s;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    background-color: var(--backgroundColor);
    color: var(--fontColor);
    font-family: ShareTechMono;
    font-size: 16px;
    scroll-behavior: smooth;
    text-decoration: none;
}

/* Nav style */

nav {
    background-color: var(--backgroundColor);
    border-bottom: var(--borderWeight) solid var(--fontColor);
    display: flex;
    height: 4rem;
    position: fixed;
    transition: opacity var(--transitionSpeed), visibility var(--transitionSpeed);
    user-select: none;
    width: 100%;
    z-index: 100;
}

nav .navButton:not(.navButton:last-child) {
    border-right: var(--borderWeight) solid var(--fontColor);
}

.navButton {
    background-color: transparent;
    border: none;
    color: var(--fontColor);
    cursor: pointer;
    font-family: inherit;
    font-size: 1.2rem;
    height: 100%;
    text-transform: uppercase;
    transition: background-color var(--transitionSpeed);
    width: 100%;
}

.navButton:hover, .navButton:focus {
    background-color: var(--accentColor);
}

.navDisabled {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

/* Main content style */

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.mainTitle {
    font-size: 4rem;
    padding-bottom: 4rem;
    text-transform: uppercase;
}

#splash {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100dvh;
    text-align: center;
    user-select: none;
}

.splashTitle {
    font-size: clamp(4rem, 10dvw, 8rem);
    line-height: 1.5;
    text-transform: uppercase;
}

.splashText {
    font-size: 1.5rem;
}

#about, #projects, #gallery, #blog {
    padding: 8rem 0;
    width: 80dvw
}

/* Footer style */

footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 5rem;
    justify-content: center;
    width: 100%;
}
