/* Global style */

@font-face {
    font-family: Share Tech Mono;
    src: url('../assets/fonts/Share_Tech_Mono/ShareTechMono-Regular.ttf');
}

:root {
    --accColor: #bf122d;
    --bgColor: #000;
    --fontColor: #fff;
    --transitionSpeed: 0.5s;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    background-color: var(--bgColor);
    color: var(--fontColor);
    font-family: Share Tech Mono;
    font-size: 16px;
    scroll-behavior: smooth;
    text-decoration: none;
}

/* Nav style */

nav {
    background-color: var(--accColor);
    display: flex;
    height: 4rem;
    opacity: 0;
    position: fixed;
    transition: opacity var(--transitionSpeed), visibility var(--transitionSpeed);
    user-select: none;
    width: 100%;
    z-index: 100;
}

.navButton {
    background-color: transparent;
    border: none;
    color: var(--fontColor);
    cursor: pointer;
    font-family: inherit;
    font-size: 1.2rem;
    height: 100%;
    transition: background-color var(--transitionSpeed);
    width: 100%;
}

.navButton:hover {
    background-color: var(--accColor);
}

.navButton:disabled {
    cursor: default;
}

/* Main content style */

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.mainTitle {
    font-size: 4rem;
    padding: 5rem 0;
}

#splash {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100dvh;
    text-align: center;
    user-select: none;
}

.splashTitle {
    font-size: clamp(4rem, 10dvw, 7rem);
    line-height: 1.5;
}

.splashText {
    font-size: 1.5rem;
}

#projects, #gallery, #blog {
    min-height: 50dvh;
}

/* Footer style */

footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 5rem;
    justify-content: center;
    width: 100%;
}
