/* Global style */

@font-face {
    font-family: Roboto;
    src: url('../assets/fonts/Roboto/RobotoCondensed-Bold.ttf');
}

@font-face {
    font-family: Share Tech Mono;
    src: url('../assets/fonts/Share_Tech_Mono/ShareTechMono-Regular.ttf');
}

:root {
    --bgColor: #000;
    --accColor: #bf122d;
    --fontColor: #fff;
    box-sizing: border-box;
    text-decoration: none;
    cursor: default;
}

html {
    background-color: var(--bgColor);
    color: var(--fontColor);
    filter: invert(0) grayscale(0);
}

* {
    font-family: Roboto;
    font-size: 1rem;
    margin: 0px;
}

/* Image style */

img {
    pointer-events: none;
    user-select: none;
}

/* Navbar style */

.navBar {
    background-color: var(--accColor);
    position: fixed;
    display: flex;
    width: 100%;
    height: 4rem;
    user-select: none;
    transition: 0.5s;
    opacity: 0%;
}

.navButton {
    font-family: Share Tech Mono;
    background-color: transparent;
    color: var(--fontColor);
    height: 100%;
    width: 100%;
    padding: none;
    border: none;
    transition: 0.5s;
}

.navButton:hover {
    background-color: var(--accColor);
    cursor: pointer;
}

/* Splash screen style */

.splash {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.splashTitle {
    font-size: 7rem;
    transform: translateY(-5%);
}

.splashText {
    font-family: Share Tech Mono;
    font-size: 2rem;
    transform: translateY(25%);
}

/* Main content style */

.main {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainTitle {
    font-size: 4rem;
    padding: 5rem 0;
}

.mainText {
    font-family: Share Tech Mono;
}

.projects, .gallery, .blog {
    height: 50vh;
}

.fin {
    width: 100%;
    height: 5rem;
}
