/* Global style */

@font-face {
    font-family: Roboto;
    src: url('../assets/font/RobotoCondensed-Bold.ttf');
}

:root {
    --bgColor: #000;
    --accColor: #bf122d;
    --fontColor: #fff;
    box-sizing: border-box;
    text-decoration: none;
    cursor: default;
    transition: 0.5s;
}

html {
    background-color: var(--bgColor);
    color: var(--fontColor);
    filter: invert(0) grayscale(0);
}

* {
    font-family: Roboto;
    font-size: 20px;
    margin: 0px;
}

/* Image style */

img {
    pointer-events: none;
    user-select: none;
}

/* Navbar style */

.navBar {
    background-color: var(--accColor);
    position: fixed;
    display: flex;
    width: 100%;
    height: 4rem;
    user-select: none;
    transition: 0.5s;
    translate: 0 -2rem;
}

.navBar:hover {
    translate: 0px;
}

.navButton {
    background-color: transparent;
    color: var(--fontColor);
    height: 100%;
    width: 100%;
    padding: none;
    border: none;
    transition: 0.5s;
}

.navButton:hover {
    background-color: var(--accColor);
    cursor: pointer;
}

.navMarquee {
    color: var(--bgColor);
    display: flex;
    align-items: end;
    padding-bottom: 0.33rem;
    width: 100%;
    overflow: clip;
    transition: 0.5s;
}

.navMarquee:hover {
    filter: opacity(50%) blur(2px);
    transform: scale(3);
    translate: 0 -3rem;
}

.navMarqueeText {
    display: flex;
    justify-content: space-around;
    align-items: end;
    flex-shrink: 0;
    min-width: 100%;
    gap: 10vw;
    animation: scroll 7s linear infinite;
    transition: 0.5s;
}

.navMarqueeText:hover {
    gap: 1vw;
}

.navMask {
    mask-image: linear-gradient(
        to right,
        transparent,
        black 3rem,
        black calc(100% - 3rem),
        transparent
    );
}

@keyframes scroll {
    to {
        transform: translateX(calc(-50% - 5vw));
    }
}

/* Main content style */

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fin {
    width: 100%;
    height: 4rem;
}
