/* Global style */

@font-face {
    font-family: Roboto;
    src: url('../assets/font/RobotoCondensed-Regular.ttf');
}

:root {
    --bgColor: #050001;
    --iconColor: #bf122d;
    --fontColor: #fff;
    --lineSize: 3px solid;
    box-sizing: border-box;
    text-decoration: none;
    cursor: default;
    transition: 0.5s;
}

html {
    background-color: var(--bgColor);
    color: var(--fontColor);
    filter: invert(0) grayscale(0);
}

* {
    font-family: Roboto;
    font-size: 30px;
    margin: 0px;
}

/* Image style */

img {
    pointer-events: none;
    -webkit-user-select: none;
    user-select: none;
}

/* Navbar style */

.navBar {
    position: fixed;
    display: flex;
    transition: 0.5s;
    width: 100%;
    border-bottom: var(--lineSize);
}

.navBar > .navTitle {
    width: 100%;
    border-left: var(--lineSize);
    border-right: var(--lineSize);
}

.navBar > .navPadding {
    width: 100px;
}

.navButton {
    background-color: transparent;
    color: var(--fontColor);
    height: 100px;
    padding: none;
    width: 100%;
    transition: 0.5s;
    border: none;
}

.navButton:hover {
    background-color: #fff4;
}

/* Dropdown style */

.dropdown {
    position: fixed;
    display: flex;
}

.dropdownItem {
    background-color: var(--bgColor);
    color: var(--fontColor);
    border: var(--lineSize);
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.dropdownItem:hover {
    background-color: #fff4;
}

/* Main content style */

.main {
    background-image: radial-gradient(
        at 100% 120%,
        var(--iconColor),
        #5f0916,
        #2f040b,
        #170205,
        #0b0102,
        var(--bgColor)
    );
    padding: 140vh 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fin {
    padding: 50vh 20px 50vh 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
